
body {
  font-family: Arial, sans-serif;
  background-color: #707976;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 50px;
  background-color: #9ce2d9;
  border: 1px solid #bbfa97;
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  margin-top: 0;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #31ce39e5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}